---
import Layout from "../layouts/Layout.astro"
import icoExt from "../icons/external-link.svg"

import { Image } from "astro:assets"

import img6 from "../assets/works/givenchy.gif"
import img7 from "../assets/works/givenchy1.png"
import img8 from "../assets/works/givenchy2.png"
import img3 from "../assets/works/rd.gif"
import img4 from "../assets/works/rd1.png"
import img5 from "../assets/works/rd2.png"
import img1 from "../assets/works/xtep.gif"
import img2 from "../assets/works/xtep2.png"

import img2dotsInput from "../assets/img2dots/input.png"
import img2dotsOutput from "../assets/img2dots/output.png"

import globeThumb from "../assets/globe/globe-thumb.png"

const URLS = {
  works: "https://www.figma.com/deck/8SYeuEy4qRrWbCCAH4ecx1/Untitled?node-id=1-62&viewport=-3908%2C9%2C0.47&t=D059w5KpbPFCwEVA-1&scaling=min-zoom&content-scaling=fixed&page-id=0%3A1",
  img2dots: "https://img2dots.vercel.app/",
}
---

<Layout title='home'>
  <main class='w-full min-h-full flex flex-col text-slate-800'>
    <div class='flex-1 flex min-h-full max-w-full'>
      <div class='flex flex-1 pt-32'>
        <div class='w-full px-[4rem] font-mono flex flex-col'>
          <div class='w-128 pb-16'>
            <p class=''>Design & Build</p>
            <p class=''>beautiful and useful things</p>
            <br />
            <p class=''></p>

            <p class=''></p>
          </div>
          <div class='py-8 w-48'>
            <h2 class='font-bold text-xl font-serif'>Lingfei Song</h2>
            <p class='text-xs'>hello@lingfei.dev</p>
          </div>

          <ul class='text-lg w-128 py-16'>
            <li><a href='' class='hover:underline'>notes</a></li>
            <li><a href='/about' class='hover:underline'>about</a></li>
          </ul>
        </div>
      </div>
      <div class='w-full flex flex-[3] flex-col h-full pt-32'>
        <div class='w-full'>
          <div class='slider border-l border-gray-200'>
            <div class='slider-card'>
              <Image src={img4} class='slider-card-img absolute w-[240px] margin-auto mr-[-400px] bottom-8' alt='roger dubuis project screenshot' />
              <Image src={img5} class='slider-card-img absolute w-[240px] margin-auto ml-[-400px] bottom-8' alt='roger dubuis project screenshot' />
              <Image src={img3} loading='lazy' class='slider-card-img w-[290px] z-10' alt='roger dubuis project clip' />
              <div class='slider-card-logo'></div>
            </div>
            <div class='slider-card'>
              <Image src={img2} class='slider-card-img w-[300px] absolute margin-auto mr-[-200px] top-[-18px]' alt='xtep project screenshot' />
              <Image src={img1} loading='lazy' class='slider-card-img ml-[-200px] mb-[-10%] z-10' alt='xtep project clip' />
              <div class='slider-card-logo'></div>
            </div>
            <div class='slider-card'>
              <Image src={img7} class='slider-card-img absolute w-[240px] margin-auto mr-[-400px] bottom-8' alt='givenchy project screenshot' />
              <Image src={img8} class='slider-card-img absolute w-[240px] margin-auto ml-[-400px] bottom-8' alt='givenchy project screenshot' />
              <Image src={img6} loading='lazy' class='slider-card-img w-[320px] z-10' alt='givenchy project clip' />
              <div class='slider-card-logo'></div>
            </div>
          </div>
          <div class='w-full flex pl-[48px] py-8'>
            <a href={URLS.works} target='_blank' class='hover:underline text-slate-500 block flex items-center leading-none'>more client works<img src={icoExt.src} class='ml-2 inline w-4 h-4' /></a>
          </div>
        </div>
        <section class='pl-[--pad] prose w-full py-8'>
          <h3 class=''><a href={URLS.img2dots} target=' __blank' class='underline'>Create dot pattern from shapes</a></h3>
          <p><Image src={img2dotsInput} loading='lazy' class='shadow-lg w-[128px] m-0 inline' alt='image to dotted pattern input' /> to <Image src={img2dotsOutput} loading='lazy' class='shadow-lg w-[128px] inline m-0' alt='image to dotted pattern output' /></p>
          <p class='text-muted mt-[-16px]'>built with Three.js</p>
        </section>
        <section class='pl-[--pad] prose w-full py-8'>
          <h3 class=''><a href='/webgl-globe'>Interactive WebGL Globe</a></h3>
          <p><Image src={globeThumb} loading='lazy' class='shadow-lg w-[400px] m-0' alt='WebGL globe demo' /></p>
          <p class='text-muted mt-[-16px]'>built with Three.js</p>
        </section>

        <div class='w-full pl-[--pad] py-8'>
          <p>©Lingfei Song 2024</p>
        </div>
      </div>
    </div>
  </main>
  <style>
    * {
      --pad: 30px;
      --muted: 240 3.8% 46.1%;
    }
    .text-muted {
      color: hsl(var(--muted));
    }

    .slider {
      display: flex;
      gap: 30px;
      padding-left: 30px;
      padding-right: 30px;
      width: 100%;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
      scrollbar-width: none;
      scroll-padding-left: 30px;
      scroll-padding-right: 30px;
    }
    .slider-inner {
      padding-left: 30px;
      padding-right: 30px;
      width: 1500px;
      height: 500px;
      display: inline-flex;
    }
    .slider-card {
      scroll-snap-align: start;
      flex: 1 1 100%;

      width: calc(100% - 30px);
      min-width: calc(100% - 30px);
      height: 500px;
      border-radius: 18px;
      background: black;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      background-image: url("../assets/bg1.jpg");
      background-size: cover;
      overflow: hidden;
      position: relative;
    }
    .slider-card-img {
      box-shadow: 0px 20px 20px 10px rgba(0, 0, 0, 0.09);
      border-radius: 12px;
    }
    .slider-card-logo {
      position: absolute;
      width: 200px;
      heigth: 50px;
      background-color: rgb(55, 50, 50);
    }
  </style>
</Layout>
